{% extends '::base.html.twig' %}
 
{% block title %}Pedido creation - {{ app.request.host }}{% endblock %}
 
{% block main %}
    <h1>Pedido creation</h1>


	{#<br/>
    <button class="btn btn-success" form="pedido_create" type="submit">Create</button>
    <a class="btn" href="{{ path('pedido') }}">Back to the list</a>#}
{% endblock %}