parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     fiter2
    database_user:     root
    database_password: ~

    minecraft_database_driver:   pdo_mysql
    minecraft_database_host:     127.0.0.1
    minecraft_database_port:     ~
    minecraft_database_name:     minecraft
    minecraft_database_user:     root
    minecraft_database_password: ~

    #default email
    #mailer_transport:  smtp
    #mailer_host:       127.0.0.1
    #mailer_user:       ~
    #mailer_password:   ~

    #gmail email
    mailer_transport:  gmail
    mailer_encryption: ssl
    mailer_auth_mode:  login
    mailer_host:       smtp.gmail.com
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    twitter_feed: 9fiter

    fiter_contact.emails.contact_email: "examplexamplaexaple@gmail.com"
    domain: example.org
    minecraft_server: example.org
    minecraft_websend_port: 4445
    minecraft_websend_pass: YourPassHere
    minecraft_folder: /opt/juegos/minecraft/craftopia/
    keywords: "word, word, word, word"
    description: "example.org - Lorem ipsum dolor sit amet"

    ts3_host: examplets3example.org
    ts3_port: 10011
    ts3_user: userquerylogin
    ts3_pass: passwordquerylogin

    web_path: %kernel.root_dir%/../web

    isprod: true

    googleAnalytics_id: UA-XXXXXXXX-X
    googleAnalytics_dm: domain.com

    infolinks_pid: XXXXXXX
    infolinks_wsid: 0






    bitcoind_schema:   http
    bitcoind_username: ~
    bitcoind_password: ~
    bitcoind_host:     localhost
    bitcoind_port:     8332



    jms_payment_paypal_username: user-facilitator_api1.gmail.com
    jms_payment_paypal_password: 1376557490
    jms_payment_paypal_signature: A70rO0.Z0aDC8OtNSbcRASesddDaHAIeG3r9JJaZH0rZY8MDxsp6ygTnb



    fiter_payment_bitcoin_username: user-facilitator_api1.gmail.com
    fiter_payment_bitcoin_password: 1376557490
    fiter_payment_bitcoin_signature: A70rO0.Z0aDC8OtNSbcRASesddDaHAIeG3r9JJaZH0rZY8MDxsp6ygTnb


    mtgox_api_key:    your-mtgox-api-key
    mtgox_api_secret: "+your-mtgox-api-secret=="