{% extends '::base.html.twig' %}
 
{% block title %}channelgrouppermlist{% endblock %}
 
{% block asideL %}{% endblock %}
{% block asideR %}{% endblock %}

{% block main %}
<table>
	<tr>
		<th>permid</th>
		<th>permvalue</th>
		<th>permnegated</th>
		<th>permskip</th>
	</tr>
	{% for t in element %}
		<tr>
			<td>{{t.permid}}</td>
			<td>{{t.permvalue}}</td>
			<td>{{t.permnegated}}</td>
			<td>{{t.permskip}}</td>
		</tr>	
	{% endfor %}
</table>
{% endblock %}

{% block stylesheets %}
<style>
table{border-collapse: collapse;}
table td,table th{
	border:1px solid #ccc;
	padding: 0 .5em;
}
</style>
{% endblock %}
