{% extends '::base.html.twig' %}
 
{% block title %}{{ app.request.host }}{% endblock %}
 
{% block main %} 
    <h2>Bitcoin getnewaddressForm</h2>
	<form id="getnewaddressForm" action="{{ path('bitcoin_getnewaddress') }}" method="post" autocomplete="off">
	    <label>account:</label>
	    <input name="account" type="text" required="required" autocomplete="off"><br/>
	</form>
	<br/>
	<link rel="stylesheet" type="text/css" href="/bundles/fiterdefault/css/bootstrap.min.css" />
	<button form="getnewaddressForm" class="btn btn-success" type="submit">Create</button>
{% endblock %}


