{% extends '::base.html.twig' %}
 
{% block title %}Indice artículos{% endblock %}
 
{% block main %} 
    <h2>Indice creado</h2>

    <p>El indice ha sido creado satisfactoriamente.</p>

{% endblock %}
    
    
    
  