{% extends '::base.html.twig' %}
 
 {% block rss_header %}
    <link rel="alternate" type="application/rss+xml" title="RSS de los artículos más recientes" href="{{ path('articulousuario', {'nombre':nombre, '_format': 'rss' }) }}" />
{% endblock %}

{% block rss_icon %}
    <a href="{{ path('articulousuario', {'nombre':nombre, '_format': 'rss' }) }}">
        <div class="socialmod_rss"></div>
    </a>
{% endblock %}

{% block main %}
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
          <div class="alert alert-info">{{ flashMessage }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
          <div class="alert alert-error">{{ flashMessage }}</div>
    {% endfor %}

    {% include "FiterDefaultBundle:Articulo:indexUsuarioSinLayout.html.twig" %}
{% endblock %}