{% extends '::base.html.twig' %}
	 
{% block title %}Video - {{ app.request.host }}{% endblock %}

{% block main %}
<article>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
          <div class="alert alert-info">{{ flashMessage }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
          <div class="alert alert-error">{{ flashMessage }}</div>
    {% endfor %}

    <div id="my-widget1"></div>
</article>   
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/jquery-ui.js"></script>      
    <script type="text/javascript" src="/js/jQuery.tubeplayer.js"></script>
    <script type="text/javascript" src="/js/videoSearch.js"></script>
    <script type="text/javascript" src="/js/videoSearchStr.js"></script>
    <script type="text/javascript" src="/js/ytApi.js"></script>
       <script>
            $(document).ready(function(){
                $( "#my-widget1" ).videoSearch({
                        videoInicial: "{{ v }}",
                });
            });
        </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/themes/moi/jquery.ui.all.css">
    <link rel="stylesheet" href="/css/default.css">
{% endblock %}