{% extends '::admin.html.twig' %}
 
{% block title %}Añadir categoría{% endblock %}
 
{% block main %}
<h2>Añadir categoría</h2>

<form id="form_categoria_create" action="{{ path('categoria_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>

<button form="form_categoria_create" type="submit">Añadir</button>
<a class="boton" href="{{ path('categoria') }}">Volver a la lista</a>
{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="/js/formoid/jquery.uniform.min.js"></script>
<script type="text/javascript"> 
    $("form").find("input[type=file]").uniform();
    $(".uploader span.filename").text("No se ha seleccionado ningún archivo");
    $(".uploader span.action").text("Seleccionar");
</script>
{% endblock %} 