{% extends '::base.html.twig' %}
 
{% block title %}Backup all - {{ app.request.host }}{% endblock %}
 
{% block main %}

<h2>Backup all</h2>

{% for output in outputs %}
    <pre>{{output}}</pre>
{% endfor %}


{% endblock %}

