<?php
/*
 * IMPORTANT: Rename this file to config.php
 */
$config = array(
	// Password for logging into the interface.
	'interfacePass' => 'admin',

	// MySQL settings
	'host' => 'localhost', 
	'port' => 3306, 
	'user' => 'root',
	'pass' => '',

	'database' => 'minecraft',
	'tablePrefix' => 'co_',
);

?>