{% extends '::base.html.twig' %}
 
{% block title %}Minecraft {{ 'main.usuarios' | trans }} - {{ app.request.host }}{% endblock %}
 
{% block main %}

<h2>Usuario baneado</h2>

El usuario <strong>{{username}}</strong> ha sido baneado satisfactoriamente.</br>

<link rel="stylesheet" type="text/css" href="/bundles/fiterdefault/css/bootstrap.min.css" />
<a class="btn btn-success" href="{{ path('authme_pardon', { 'username': username }) }}">Perdonar usuario</a></br>
</br>

{% include 'FiterMinecraftBundle:Authme:parcial/search.html.twig' %}

{% endblock %}



 